services:
  proxy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bunflix-proxy
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    environment:
      - BETTET_AUTH_URL=${BETTET_AUTH_URL:-localhost:${PORT}}
      - PORT=${PORT:-3001}
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis
    networks:
      - proxy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${PORT}"]
      interval: 10s
      timeout: 5s
      retries: 3    
  db:
    image: postgres:18-alpine
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    networks:
      - proxy
    volumes:
      - ./data/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 3
  redis:
    image: redis:7-alpine
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "6379:6379"
    networks:
      - proxy
    volumes:
      - ./data/redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    

networks:
  proxy:

volumes:
  data:
  redis: